<div class="navbar bg-primary text-base-100">
  <div class="navbar-start">
    <button class="btn btn-ghost btn-circle text-xl font-thin">
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
  <div class="navbar-center font-semibold text-2xl">
    <%= title %>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost">
      Log in
    </button>
  </div>
</div>
