<header>
  <%= render partial: "shared/nav" , locals: { title: "CATEGORIES" } %>
</header>

<main class="flex flex-col grow">
  <div class="bg-primary text-base-100 h-12 w-full flex justify-end pr-2 flex-none">
    <div class="form-control">
      <label class="label cursor-pointer flex flex-col-reverse">
        <input type="radio" name="radio-6" class="peer radio w-2 h-2 text-white bg-primary checked:bg-white checked:text-accent" aria-label="most recent" checked />
        <span class="text-gray-400 peer-checked:text-white text-lg font-light">Most recent</span>
      </label>
    </div>
    <div class="form-control">
      <label class="label cursor-pointer flex flex-col-reverse">
        <input type="radio" name="radio-6" class="peer radio w-2 h-2 text-white bg-primary checked:bg-white checked:text-accent" aria-label="least recent" />
        <span class="text-gray-400 peer-checked:text-white text-lg font-light">Least recent</span>
      </label>
    </div>
  </div>
  <div class="bg-base-100 text-neutral h-14 w-full flex justify-between items-center p-2 flex-none">
    <span>Total</span>
    <span class="font-bold">
      $<%= "#{current_user.categories.reduce(0) { |t, c| t + c.expenses.reduce(0) {|t, e| t + e.amount}}}" %>
    </span>
  </div>
  <section class="grow flex flex-col gap-2 p-2">
    <% @categories.each do |category| %>
      <%= render partial: "categories/card" , locals: { category: category } %>
    <% end %>
  </section>
  <footer class="h-16 w-full flex justify-center items-center bg-secondary flex-none">
    <%=form_with model: Category.new, url: new_category_path, method: :get, class: "w-full flex justify-center" do %>
      <button class="btn btn-secondary border-base-100 w-11/12 text-base-100">NEW</button>
    <% end %>
  </footer>
</main>
