<header>
  <%= render partial: "shared/nav" , locals: { title: "CATEGORIES" } %>
</header>

<main>
  <div class="bg-primary text-base-100 h-14 w-full flex justify-end pr-2">
    <div class="form-control">
      <label class="label cursor-pointer flex flex-col-reverse">
        <input type="radio" name="radio-6" class="peer radio w-2 h-2 text-white bg-primary checked:bg-white checked:text-accent" aria-label="most recent" checked />
        <span class="text-gray-400 peer-checked:text-white text-lg font-light">Most recent</span>
      </label>
    </div>
    <div class="form-control">
      <label class="label cursor-pointer flex flex-col-reverse">
        <input type="radio" name="radio-6" class="peer radio w-2 h-2 text-white bg-primary checked:bg-white checked:text-accent" aria-label="least recent" />
        <span class="text-gray-400 peer-checked:text-white text-lg font-light">Least recent</span>
      </label>
    </div>
</main>
